<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Ordering Media Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Ordering Media</h1>
	<h2>Your address</h2>
    <form action="#" th:action="@{/orderMedia}" th:object="${order}" method="post">
        <p>Household Address: <input type="text" th:field="*{household.address}" /></p>
        <p>Household City: <input type="text" th:field="*{household.city}" /></p>
        <p>Household Zip Code: <input type="text" th:field="*{household.zipCode}" /></p>
        
    	<h2>TV Service</h2>
        <p>Provider: 
        <select th:field="*{tvService.provider}">
    		<option value="Cyfrowy Polsat">Cyfrowy Polsat</option>
    		<option value="Canal+">Canal+</option>
    		<option value="Orange TV">Orange TV</option>
		</select>
		</p>
        <p>Type: 
        <select th:field="*{tvService.type}">
    		<option th:each="tvTypeOpt: ${T(org.bp.mediaorderingui.model.TVType).values()}" th:value="${tvTypeOpt}" th:text="${tvTypeOpt}"></option>
		</select>
		</p>
        <p>Installment Date: <input type="date" th:field="*{tvInstallmentDate}" /></p>
        
    	<h2>Internet Service</h2>
    	<p>Provider: 
        <select th:field="*{internetService.provider}">
        	<option value="Inea">Inea</option>
        	<option value="Toya">Toya</option>
        	<option value="UPC">UPC</option>
        	<option value="Vectra">Vectra</option>
        	<option value="Orange">Orange</option>
        	<option value="Netia">Netia</option>
        	<option value="TK Telekom">TK Telekom</option>
		</select>
		</p>
        <p>Broadband: 
        <select th:field="*{internetService.broadband}">
    		<option th:each="internetBroadbandOpt: ${T(org.bp.mediaorderingui.model.InternetBroadband).values()}" th:value="${internetBroadbandOpt}" th:text="${internetBroadbandOpt}"></option>
		</select>
		</p>
        <p>Speed: <input type="number" th:field="*{internetService.speed}" /></p>
    	<p>Installment Date: <input type="date" th:field="*{internetInstallmentDate}" /></p>
    
	    <h2>Credit/Debit Card</h2>
	    <p>Name: <input type="text" th:field="*{paymentCard.name}" /></p>
	    <p>Valid to: <input type="text" th:field="*{paymentCard.validTo}" /></p>
	    <p>Number: <input type="text" th:field="*{paymentCard.number}" /></p>
	    
	    <p>
	    	<input type="submit" value="Submit" /> 
	    	<input type="reset" value="Reset" />
	    </p>
	    <br/>
	    <p><a href="/">Back</a></p>
    </form>
</body>
</html>